<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

</head>

<body>
<!--HEADER SECTION-->
<div id="header" align = "right">
  <p>&nbsp;</p>
  <p><img src="/assets/heading.png" valign="middle" width="35%" alt=""/></p>
</div><br><br>

<div id="main">



<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "edit_user", id: "form1"  }) do |f| %>
  
  <h2>Edit <%= resource_name.to_s.humanize %></h2>
  
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :first_name %>
    <em>(2 characters minimum) </em><br />
    <%= f.text_field :first_name%>
  </div>
  
  <div class="field">
    <%= f.label :last_name %>
    <em>(2 characters minimum )</em><br />
    <%= f.text_field :last_name%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  
  <h4>Cancel my account</h4>

  <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  
  <p>
    <%= link_to "Back", :back %>
  </p>
  
  
<% end %>




</div>
</body>
</html>