<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
<title>Register</title>

</head>

<body>
<!--HEADER SECTION-->
<div id="header" align = "right">
  <p>&nbsp;</p>
  <p><img src="/assets/heading.png" valign="middle" width="35%" alt=""/></p>
</div><br><br>

<div id="main">



<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forgot_password", id: "form1" }) do |f| %>
  <h2>Forgot your password?</h2>
  
  <%= devise_error_messages! %>
  <table width="30%" align="center" border="0">
    <tbody>
      <tr>
        <td align="center" scope="col"><%= f.label :email %><br /></td>
        <td align="center" scope="col"><%= f.email_field :email, autofocus: true %></td>
        <td><%= f.submit "Send me reset password instructions" %></td>
      </tr>
      <tr>
        
      </tr>
      <tr>
        <td><td><%= render "devise/shared/links" %></td></td>
      </tr>
    </tbody>
  </table><br>
  
<% end %>



</div>
</body>
</html>