<%= form_for @project do |f| %>
 
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </p>
  
  <p>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </p>
  
   <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </p> 
    <%= fields_for(@project, @project.assignments) do |u| %>
      <p>
        <%= collection_select :project, :employee_ids, Employee.all, :id, :name, {:selected => 1}, {:multiple => true} %>
      </p>
    <% end %>

  
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
      <div class="actions">
       <%= f.submit %>
     </div>
  </p>
 
<% end %>